<h2>WELCOME TO CHAYA MUSHKA</h2>
<h2>...much love my fellow jewish(men)/jewish(women) *__*</h2>

<%= link_to "News & Events", events_path %>
<%= link_to "Tuition Information", tuitions_path %>
<%= link_to "Faculty & Staff", staff_index_path %>
<%= link_to "Forms", forms_path %>
