<div id="homepage-carousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
  	<div class="carousel-inner">
  	  <div class="active item"><%= image_tag("monkey.jpg", size:"160") %></div>
  	  <div class="item"><%= image_tag("bird_photo.jpg", size:"160") %></div>
  	  <div class="item"><%= image_tag("lala.jpg", size:"160") %></div>
  	</div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#homepage-carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#homepage-carousel" data-slide="next">&rsaquo;</a>
</div>

<div class="homepage-body">
	<h2>WELCOME TO CHAYA MUSHKA</h2>
	<h2>...much love my fellow jewish(men)/jewish(women) *__*</h2>
</div>
