<% admins_only do %>
	<%= link_to "Add Event", new_admin_event_path %>
<% end %>

<ul id="events">
	<% @events.each do |event| %>
		<li><%= link_to event.title, [:admin, event] %></li>
	<% end %>
</ul>