<h3 class="admin-top-header">News &amp; Events</h3>


<%= link_to "Add Event", new_admin_event_path, class:"btn" %>


<ul id="events">
	<% @events.each do |event| %>
		<li><%= link_to event.title, [:admin, event] %></li>
	<% end %>
</ul>