<h1 class="top-header">Faculty Lounge</h1>

<blockquote>
	<p>Welcome to Chaya Mushka's Faculty Lounge. Please enjoy your stay.</p>
	<small>The Administrative Office</small>
</blockquote>

<ul>
	<li><%= link_to "Posts", faculty_posts_path %></li>
</ul>