<h3 class="admin-top-header">Posts</h3>

<%= link_to "New Post", new_admin_post_path, class:"btn" %>

<ul>
	<% @posts.each do |post| %>
		<li><%= link_to post.title, [:admin, post] %></li>
	<% end %>
</ul>