<h3 class="top-header">Tuition</h3>

<%= link_to "Add Tuition Year", new_admin_tuition_path, class:"btn" %>

<ul id="tuitions">
	<% @tuitions.each do |tuition| %>
		<li><%= link_to tuition, [:admin, tuition] %></li>
	<% end %>
</ul>