<h3 class="top-header">Forms</h3>

<%= link_to "New Form", new_admin_form_path, class:"btn" %>

<ul id="forms">
	<% @forms.each do |form| %>
		<li><%= link_to form.title, [:admin, form] %></li>
	<% end %>
</ul>