html, body {
	background-image: url('/assets/linen.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	/*background: #6666FF;*/
	margin: 0;
	padding: 0;
	height: 100%;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

.main-content {
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	padding: 200px 0px 100px 0px;
	/*border: 1px solid red;*/
}

@media (min-width: 768px) and (max-width: 979px) {

	.main-content {
		width: 68%;
	}

}

@media (max-width: 767px) {

	.main-content {
		width: 95%;
	}

}