.homepage-carousel {
	height: 200px;
	/*border: 1px solid red;*/
}

.carousel-item {
	height: 180px;
	margin: 10px 5px;
	text-align: center;
	/*border: 1px solid red;*/
}

.carousel-item h3 {
	margin: 0;
	height: 100%;
	color: #FFFFFF;
	background: #3300CC;
}