form {
	text-align: center;
}

form input {
	text-align: center;
	width: 50%;
}

.remember-me-forgot-pass {
	width: 50%;
	height: 50px;
	margin: 0 auto;
}

.remember-me label {
	float: left;
	margin-right: 5px;
}

.remember-me input {
	float: left;
}

.forgot-password {
	float: right;
}

@media (max-width: 1180px) {

	.remember-me-forgot-pass {
		height: 80px;
	}

	.remember-me label {
		float: none;
		display: inline;
		margin-right: 5px;
	}

	.remember-me input {
		float: none;
	}

	.forgot-password {
		float: none;
		margin-top: 10px;
	}
}