.all-nav {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	height: 170px;
	background: #0000FF;
}

/*LOGO---------------*/

.nav-logo {
	height: 100%;
	width: 18%;
	float: left;
}

.nav-logo img {
	margin: 5px auto;
	display: block;
}

/*MESSAGE------------*/

/*.nav-message {
	position: absolute;
	color: #FFFFFF;
}*/

/*MAIN NAV-----------*/

.nav-items-main {
	display: inline;
	height: 100%;
	float: left;
	width: 64%;
	margin: 0;
	/*border: 1px solid green;*/
}

.nav-items-main-list {
	width: 100%;
	margin: 140px auto 0 auto;
	text-align: center;
}

.nav-items-main-list li {
	display: inline;
	padding: 0 10px;
	margin: 0 3px;
	border: 1px solid white;
	border-radius: 5px;
}

.nav-items-main-list li:hover {
	background: #FFFFFF;
}

.nav-items-main-list li a {
	color: #FFFFFF;
}

.nav-items-main-list li a:hover {
	text-decoration: none;
	color: #0000FF;
}

/*DROPDOWN NAV-------*/

.dropdown-menu {
}

.dropdown-menu li {
	padding: 2px 0;
}

.dropdown-menu li a{
	color: #000000;
}

/*USER NAV-----------*/

.nav-items-user {
	display: inline;
	height: 100%;
	float: left;
	width: 18%;
	margin: 0;
}

.nav-items-user-list {
	width: 100%;
	margin: 140px auto 0 auto;
	text-align: center;
}

.nav-items-user-list li {
	display: inline;
	padding: 0 9px;
	margin: 0 3px;
	border: 1px solid white;
	border-radius: 5px;
}

.nav-items-user-list li:hover {
	background: #FFFFFF;
}

.nav-items-user-list li a {
	color: #FFFFFF;
}

.nav-items-user-list li a:hover {
	text-decoration: none;
	color: #0000FF;
}