<h3 class="top-header">Users</h3>

<%= link_to "New User", new_admin_user_path, class:"btn" %>

<ul id="users">
	<% @users.each do |user| %>
		<li><%= link_to user, [:admin, user] %></li>
	<% end %>
</ul>

<h6>Unverified Users</h6>
<ul id="unverified_users">
	<% @unverified_users.each do |user| %>
		<li><%= link_to user, [:admin, user] %></li>
	<% end %>
</ul>