<h3 class="admin-top-header"><%= @user %></h3>

<% if !@user.verified %>
	<%= link_to "Verify User", new_admin_user_verification_path(@user), class:"btn btn-warning", data: { confirm: "Are you sure you want to verify this user?"} %>
<% end %>

<%= link_to "Edit User", edit_admin_user_path(@user), class:"btn" %>
