<div class="footer-content">
	<div class="footer-preschool-logo">
		<%= image_tag("preschool_logo.png", size:"60") %>
	</div>



	<div class="footer-info">
		<div class="address-info">
			<p>
				<strong>Chaya Mushka Children's House</strong><br>
				5065 High Point Road NE<br>
				Atlanta, GA 30342 USA<br>
			</p>
		</div>

		<div class="contact-info">
			<p>
				<strong>Contact Us:</strong><br>
				Phone: (404) 843-9582<br>
				Email: <a href="mailto:office@chayamushka.org">office@chayamushka.org</a>
			</p>
		</div>
	</div>

	<ul class="footer-social-icons">
		<li><i class="fa fa-facebook-square"></i></li>
		<li><i class="fa fa-twitter-square"></i></li>
	</ul>

	<div class="footer-chabad-logo">
		<a href="http://www.chabadga.com/"><%= image_tag("chabad_ga.png", size:"130") %></a>
	</div>

</div>