<div class="footer-content">
	<div class="footer-preschool-logo">
		<%= image_tag("preschool_logo.png", size:"60") %>
	</div>

<!-- 	<div class="footer-logo">
		<%= image_tag("chabad_ga.png", size:"60") %>
	</div>

	<div class="footer-logo">
		<%= image_tag("cmch_tree.png", size:"60") %>
	</div> -->

	<div class="contact-info">
		<p>
			<strong>Chaya Mushka Children's House © 2014</strong><br>
			5920 Roswell Rd. Suite D 101-105<br>
			Sandy Springs, GA 30328 USA<br>
		</p>

		<p>
			<strong>Contact Us:</strong><br>
			Phone: (404) 843-9582<br>
			Email: <a href="mailto:office@chayamushka.org">office@chayamushka.org</a>
		</p>
	</div>

	<!-- <button class="btn">Facebook</button>
	<button class="btn">Twitter</button>
	<button class="btn">Shutterfly</button> -->

</div>